# Sample for Hiera config.
# Ready to use:
# -cp in the /var/lib/hiera/
# -modify hiera.yaml
#
# galaxy::install::galaxy_repository : 'http://localhost:9000/galaxy-dist/'
#
galaxy::galaxy_ini::create_user : true
galaxy::galaxy_ini::home_directory : '/home/galaxy'
galaxy::galaxy_ini::app_directory : '/home/galaxy/galaxy-dist'
galaxy::galaxy_ini::galaxy_branch : 'stable'
galaxy::galaxy_ini::custom_toolsheds : []
galaxy::galaxy_ini::id_secret : 'secret'
galaxy::galaxy_ini::require_login : false
#
galaxy::galaxy_ini::wk_config: true
galaxy::galaxy_ini::number_of_background_workers: 2
galaxy::galaxy_ini::number_of_web_workers : 2
galaxy::job_conf::number_of_background_workers: 2
#
galaxy::galaxy_ini::db_connection : 'sqlite:///./database/puppet.sqlite?isolation_level=IMMEDIATE'
#
galaxy::galaxy_ini::db_connection : 'postgresql://galaxy:galaxy@localhost:5432/dbgalaxy'
galaxy::galaxy_ini::db_driver : 'postgresql'
galaxy_roles_profiles::profile::pgsql::db_name : 'dbgalaxy'
galaxy_roles_profiles::profile::pgsql::db_user : 'galaxy'
galaxy_roles_profiles::profile::pgsql::db_pass : 'galaxy'
